extends ../layouts/head.pug

block styles
  link(rel="stylesheet", href="/css/orders.css")

block content
  main
    if orders.length === 0
      h1 There are no orders!
    else
      ul.orders
        each order in orders
          li.orders__item
            h3= 'Order #' + order._id
            ul.orders__products
              each p in order.products
                li.orders__products-item= p.product.title + ' (' + p.quantity + ') $' + p.product.price