extends ../layouts/head.pug

block styles
  link(rel="stylesheet", href="/css/product.css")

block content
  main
    if products.length === 0
      h1 There are no products!
    else
      .grid
        each product in products
          article.card.product-item
            header.card__header
              h1.card__title #{product.title}
            div.card__image
              img(src="https://media.newyorker.com/photos/59ee325f1685003c9c28c4ad/16:9/w_5616,h_3159,c_limit/Heller-Kirkus-Reviews.jpg", alt="Book")
            div.card__content
              h2.product__price $19.99
              p.product__description A great book!
            .card__actions
              button.btn Add to Cart
